:root{
--primary-color:		#ACF7C1;
--secondary-color:		#94BFBE;
--accent1-color:		#5C0029;
--accent2-color:#857C8D;

}
header{
  background-color: #5C0029;
  padding: 20px;
  color: #ACF7C1;
}
h1, 
h2, 
h3{
  margin: 0.1rem 0;
}
h1{
  font-size: 2rem;
}
h2{
  font-size: 1.5rem;
  padding-left: 20px;
}
h3{
  font-size: 1.5rem;
  padding-left: 40px;
}
footer.sociallinks{
  text-decoration: none;
  text-align: center;
}
footer .sociallinks ul{
  list-style: none;
  margin: 0;
  padding: 0;
}
footer .sociallinks li{
  margin-right: 20px;
}
footer .sociallinks img{
  width: 30px;
  height: auto;
}
.hero{
 position: relative; 
}
.hero article{
  position: absolute;
}
.hero h1{
  position: absolute;
}
.hero p{
  float: right;
  width: 200px;
  margin: 10px;
}
.hero img{
  width: 300px;
  height: auto;
}
.social media icon{
 text-decoration: none;
}
.body{
  font-family: "Roboto", sans-serif;
  color: #857C8D;
  margin: auto;
}


